<div class="footer">
  <div class="sections">
    <div class="footer-section">
      <h3>Support</h3>
      <ul>
        <li>Help Center</li>
        <li>AirCover</li>
        <li>Anti-discrimination</li>
        <li>Disability support</li>
        <li>Cancellation options</li>
        <li>Report neighborhood concern</li>
      </ul>
      <hr />
    </div>

    <div class="footer-section">
      <h3>Hosting</h3>
      <ul>
        <li>Airbnb your home</li>
        <li>AirCover for Hosts</li>
        <li>Hosting resources</li>
        <li>Community forum</li>
        <li>Hosting responsibly</li>
        <li>Airbnb-friendly apartments</li>
      </ul>
      <hr />
    </div>
    <div class="footer-section">
      <h3>Cribr</h3>
      <ul>
        <li>Newsroom</li>
        <li>New features</li>
        <li>Careers</li>
        <li>Investors</li>
        <li>Gift cards</li>
        <li>Airbnb.org emergency stays</li>
      </ul>
      <hr />
    </div>
  </div>
</div>
