@import "/src/variables";

.header {
  width: 95%;
  z-index: 100;
  margin: 0 auto;
  padding: 1.5rem 0;
  @include flexRowJustify(space-between);
}

.right-navigation {
  @include flexRowJustify(space-between);
}

.btn-two {
  @include flexRowJustify(space-between);
  background: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0.55rem 0.6rem;
  display: flex;
  gap: 0.4rem;
  align-items: center;
  text-align: inherit;
  background-color: #ffffff;
  border: 1px solid #979797;
  border-radius: 21px;
  transition: box-shadow 0.2s cubic-bezier(0.2, 0, 0, 1);
}

.left-btns {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.btn {
  background: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0.6rem 1rem;
  text-align: inherit;
  color: #fefffe;
  background-color: #7bcfad;
  border: 1px solid #979797;
  border-radius: 21px;
  transition: box-shadow 0.2s cubic-bezier(0.2, 0, 0, 1);
}

@media (max-width: 745px) {
  .header {
    @include flexRowJustify(center);
  }

  .header img {
    display: none;
  }

  .left-btns {
    display: none;
  }
}
