.container {
  position: relative;
  height: 300px;
  width: 100%;

  swiper-container {
    height: 100%;
    width: 100%;
  }

  swiper-slide {
    position: relative;
    height: 100%;
    width: 100%;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  .grid {
    display: none;
  }
}

.over {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 90%;
  z-index: 2000;

  font-weight: 700;
  font-size: large;
  // -ms-transform: translate(-50%, -50%);
  // transform: translate(-50%, -50%);
}

@media (min-width: 465px) {
  .container {
    height: 400px;
  }
}

@media (min-width: 745px) {
  .container {
    display: none;

    swiper-container {
      display: none;
    }
  }
}
