.flex {
  height: 300px;
  width: 350px;
  background-color: red;
}

// .form-popup {
//   border: 3px solid #f1f1f1;
//   z-index: 2000;
// }

/* Add styles to the form container */
.form-container {
  z-index: 2000;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container .item input[type="text"],
.form-container .item input[type="password"] {
  position: relative;
  width: 100%;
  padding: 15px;
  overflow: hidden;
  margin: 5px 0 5px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

@media (min-width: 745px) {
  .form-container {
    height: 60%;
    width: 60%;
  }

  .form-container .item input[type="text"],
  .form-container .item input[type="password"] {
    width: 60%;
    padding: 10px 2px;
  }
}
