<div class="main">
  <ng-content select="[component]"></ng-content>
</div>
<!-- <div class="card" *ngFor="let property of data">
        <app-carousel [images]="property.images"></app-carousel>
        <div class="card-content">
            <h3>ABUJA,NIGERIA</h3>
            <div class="flex">
                <h5>Single room self contain</h5>
                <div class="flex-small">
                    <span>4.4</span>
                    <img src="../../assets/images/star.png" />
                </div>
            </div>
            <div class="flex">
              <h6>N1,200,000</h6>
              <div class="per-year-holder">PER/YR</div>
            </div>
        </div>
    </div> -->
