.carousel-container {
  position: relative;
  margin: auto;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
  height: 80%;
  border-radius: 15px;
  box-shadow: 0 6px 12px #dce1e1;
}

.carousel-container img {
  display: none;
  border-radius: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.carousel-container img.image-active {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

// dots/indicators
.carousel-dot-container {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0.2rem;
  display: flex;
  justify-content: center;
  padding: 0;
}

.dot {
  cursor: pointer;
  height: 0.5rem;
  width: 0.5rem;
  margin: 0 5px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: opacity 0.6s ease;
  opacity: 0.5;
}

.active,
.dot:hover {
  opacity: 1;
}

// image transition fade effect
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  transition-timing-function: ease-out;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.material-symbols-outlined {
  position: absolute;
  right: 5%;
  top: 2%;
}

.btn-carousel {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  cursor: pointer;
}

.btn-prev {
  left: 0;
}

.btn-next {
  right: 0;
}

.icon-carousel {
  opacity: 0.5;
  transition: all 0.15s ease;
}

.icon-carousel:hover {
  color: #fff;
  opacity: 0.9;
}

.icon-carousel:active {
  opacity: 0.5;
}

.icon-next,
.icon-prev {
  font-size: 24px;
}

.trial {
  height: 250px;
  width: 250px;
  background-color: red;
  position: relative;
}

.line {
  height: 200px;
  width: 6px;
  position: absolute;
  background-color: black;
  top: 10%;
  right: 0;
}
