@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url("https://fonts.googleapis.com/css?family=Raleway");

// variables
$base-color: #5f9ea0;
$base-font: "Raleway", sans-serif;

.main {
  width: 95%;
  margin: 1rem auto;

  //   col-md-6 offset-md-3 mt-5
}

:host * {
  // font-family: "Onest", sans-serif;
  // font-weight: 400;
}

.loader {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 48px;
  height: 48px;
  border: 5px solid #495057;
  border-bottom-color: #5f9ea0;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  z-index: 100;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// .form-control {
//   display: block;
//   width: 100%;
//   padding: 0.375rem 0.75rem;
//   font-size: 1rem;
//   line-height: 1.5;
//   color: #495057;
//   background-color: #fff;
//   background-clip: padding-box;
//   border: 1px solid #ced4da;
//   border-radius: 0.25rem;
//   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
// }

.form {
  display: grid;
}

.form-group {
  margin-bottom: 1rem; /* Adds margin at the bottom of the form group */
  margin-right: 1rem;
  margin-left: 1rem;
  font-family: "Onest", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn {
  display: inline-block;
  width: 100%;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

// form {
//   position: relative;
//   margin: auto;
//   width: 100%;
// }

.form-control {
  box-sizing: content-box;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-group label {
  display: inline-block;
  margin-bottom: 0.5rem; /* Adds margin at the bottom of the label */
}

input::placeholder {
  color: #999; /* Set the color of the placeholder text */
  font-style: italic; /* Optionally, set font style */
  font-size: 14px; /* Optionally, set font size */
  /* You can add more styles as needed */
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: inherit;
  margin: 0 0 0.75em 0;
  color: desaturate(rgb(95, 158, 160), 15%);
  text-align: center;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.box {
  display: block;
  position: relative;
  min-width: 300px;
  height: 300px;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;

  .btn-container {
    position: absolute;
    top: 0;
    z-index: 10000;
  }
}

.upload-options {
  position: relative;
  height: 75px;
  background-color: rgb(95, 158, 160);
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  transition: background-color ease-in-out 150ms;
  &:hover {
    background-color: lighten(rgb(95, 158, 160), 10%);
  }
  & input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  & label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    &::after {
      content: "add";
      font-family: "Material Icons";
      position: absolute;
      font-size: 2.5rem;
      color: rgba(230, 230, 230, 1);
      top: calc(50% - 2.5rem);
      left: calc(50% - 1.25rem);
      z-index: 0;
    }
    & span {
      display: inline-block;
      width: 50%;
      height: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
      text-align: center;
      &:hover i.material-icons {
        color: lightgray;
      }
    }
  }
}

.hide-icon::after {
  display: none;
}

.js--image-preview {
  height: 225px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  &::after {
    content: "photo_size_select_actual";
    font-family: "Material Icons";
    position: relative;
    font-size: 4.5em;
    color: rgba(230, 230, 230, 1);
    top: calc(50% - 3rem);
    left: calc(50% - 2.25rem);
    z-index: 0;
  }
  &.js--no-default::after {
    display: none;
  }
  &:nth-child(2) {
    background-image: url("http://bastianandre.at/giphy.gif");
  }
}

i.material-icons {
  transition: color 100ms ease-in-out;
  font-size: 2.25em;
  line-height: 55px;
  color: white;
  display: block;
}

.drop {
  display: block;
  position: absolute;
  background: transparentize(rgb(95, 158, 160), 0.8);
  border-radius: 100%;
  transform: scale(0);
}
.upload-btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.animate {
  animation: ripple 0.4s linear;
}

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

@media (min-width: 400px) {
  .main {
    width: 80%;
  }
}

@media (min-width: 1123px) {
  .main {
    width: 60%;
  }
  .form {
    grid-template-columns: repeat(2, 1fr);

    .form-group {
      grid-column: span 2; /* Set all form groups in odd rows to span two columns */
    }

    .form-group:nth-child(4n), /* Select even rows */
  .form-group:nth-child(4n - 1) {
      /* Select even rows */
      grid-column: span 1; /* Set form groups in even rows to span one column */
    }

    .wrapper {
      grid-column: span 2; /* Set all form groups in odd rows to span two columns */
    }
  }
  .btn {
    grid-column: span 2;
  }
  hr {
    grid-column: span 2;
  }
}
