@import "/src/variables";
.main {
  z-index: 100;
  width: 80%;
  overflow-x: scroll;
  margin: 0 auto;
  padding-bottom: 1.5rem;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.main::-webkit-scrollbar {
  display: none;
}

@media (min-width: 745px) {
  .main {
    width: 50%;
  }
}
