@import "/src/variables";
.main {
  z-index: 100;
  width: 80%;
  overflow-x: scroll;
  @include center(1.8rem);
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.main::-webkit-scrollbar {
  display: none;
}

@media (min-width: 745px) {
  .main {
    width: 50%;
    @include center(2.5rem);
  }
}
