.container {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 20000;
  background-color: rgb(255, 255, 255);

  .items {
    width: 60%;
    margin: 0 auto;
    padding: 12px 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;

    .item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.45rem;
      align-items: center;

      svg {
        color: rgb(176, 176, 176);
      }

      span {
        font-family: "Onest", sans-serif;
        color: #717171;
        font-size: 10px;
        font-weight: 600;
      }
    }
  }
}

@media (min-width: 744px) {
  .container {
    display: none;
  }
}
