/* search-bar.component.css */
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally */
  border: 1px solid black;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  // height: 36px;
  // width: 300px;
  // max-width: 90%;
  // margin: 0 auto;

  padding: 2px 8px; /* Padding for the container */
  // box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Optional box shadow for a lifted effect */
}

input[type="text"] {
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px; /* Reduced font size */
  padding: 2px 7px; /* Reduced padding in the y-direction */
  margin-left: 10px;
  background-color: transparent; /* Transparent background for input */
}

::placeholder {
  padding: 0.5rem;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 4px; /* Reduced padding in the y-direction */
  margin-right: 2px;
}

/* Style the search icon (Font Awesome in this example) */
button i {
  font-size: 18px; /* Reduced icon size */
  color: #ccc;
  padding: 4px;
}
