.grid {
  display: none;
}

@media (min-width: 745px) {
  .grid {
    position: relative;
    width: 100%;
    margin: 0.5rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.35rem;

    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 400px;
      width: 100%;
      flex-shrink: 1;
      // border: 1px solid red;

      .image {
        height: 100%;
        width: 100%;
        overflow: hidden;
      }
    }

    .sub-grid {
      height: 100%;
      width: 100%;
      overflow: hidden;
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;

      .image-container {
        flex-shrink: 1;
        flex-grow: 1;
        margin: auto;
        height: 198px;
        width: 40%;

        .image {
          height: 100%;
          width: 100%;
          overflow: hidden;
        }
      }
    }
  }
}

@media (min-width: 1250px) {
  .grid {
    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 491px;
      width: 100%;
      flex-shrink: 1;
      // border: 1px solid red;
    }

    .sub-grid {
      .image-container {
        flex-shrink: 1;
        flex-grow: 1;
        margin: auto;
        height: 244px;
        width: 40%;
      }
    }
  }
}
