@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.modal {
  position: fixed;
  bottom: 0;
  top: 2%;

  // left: 20vw;
  width: 100%;
  // padding: 16px;
  z-index: 200;
  // background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideIn 1s ease;
}
@media (min-width: 745px) {
  .modal {
  }
}
